<footer id="footer" class="global clearfix no-global">
  <div class="footer-c">
    <p class="top-link"><a href="#">Back to top</a></p>
  </div>
  <nav id="main-navigation" role="navigation" class="clearfix">
    <div class="footer-a">
      <div class="clearfix">
        <ul>
          <li class="secondary secondary-cloud">
            <h2><a href="http://www.ubuntu.com/cloud/">Cloud</a></h2>
            <ul class="second-level-nav">
              <li class="first">
                <a href="http://www.ubuntu.com/cloud">Overview</a>
              </li>
              <li>
                <a href="http://www.ubuntu.com/cloud/openstack">OpenStack</a>
              </li>
              <li>
                <a href="http://www.ubuntu.com/cloud/bootstack">BootStack</a>
              </li>
              <li>
                <a href="http://www.ubuntu.com/cloud/jumpstart-training"
                  >Jumpstart Training</a
                >
              </li>
              <li>
                <a href="http://www.ubuntu.com/cloud/public-cloud"
                  >Public cloud</a
                >
              </li>
              <li><a href="http://www.ubuntu.com/cloud/tools">Tools</a></li>
              <li>
                <a href="http://www.ubuntu.com/cloud/management"
                  >Cloud management</a
                >
              </li>
              <li>
                <a href="http://www.ubuntu.com/cloud/ecosystem">Ecosystem</a>
              </li>
            </ul>
          </li>
          <li class="secondary secondary-server">
            <h2><a href="http://www.ubuntu.com/server/">Server</a></h2>
            <ul class="second-level-nav">
              <li class="first">
                <a href="http://www.ubuntu.com/server">Overview</a>
              </li>
              <li>
                <a href="http://www.ubuntu.com/server/management"
                  >Server management</a
                >
              </li>
              <li>
                <a href="http://www.ubuntu.com/server/hyperscale">Hyperscale</a>
              </li>
            </ul>
          </li>
          <li class="secondary secondary-desktop">
            <h2>
              <a href="http://www.ubuntu.com/desktop/" class="active-trail"
                >Desktop</a
              >
            </h2>
            <ul class="second-level-nav">
              <li class="first">
                <a href="http://www.ubuntu.com/desktop">Overview</a>
              </li>
              <li>
                <a href="http://www.ubuntu.com/desktop/features">Features</a>
              </li>
              <li>
                <a href="http://www.ubuntu.com/desktop/business"
                  >For business</a
                >
              </li>
              <li>
                <a href="http://www.ubuntu.com/desktop/developers"
                  >For developers</a
                >
              </li>
              <li>
                <a href="http://www.ubuntu.com/desktop/take-the-tour"
                  >Take the tour</a
                >
              </li>
              <li>
                <a href="http://www.ubuntu.com/desktop/management"
                  >Desktop management</a
                >
              </li>
              <li>
                <a href="http://www.ubuntu.com/desktop/ubuntu-kylin"
                  >Ubuntu Kylin</a
                >
              </li>
            </ul>
          </li>
          <li class="secondary secondary-iot">
            <h2><a href="http://www.ubuntu.com/internet-of-things/">IoT</a></h2>
            <ul class="second-level-nav">
              <li class="first">
                <a href="http://www.ubuntu.com/internet-of-things">Overview</a>
              </li>
              <li>
                <a
                  href="http://www.ubuntu.com/internet-of-things/digital-signage"
                  >Digital Signage</a
                >
              </li>
              <li>
                <a href="http://www.ubuntu.com/internet-of-things/partners"
                  >For partners</a
                >
              </li>
              <li>
                <a href="http://www.ubuntu.com/internet-of-things/developers"
                  >For developers</a
                >
              </li>
            </ul>
          </li>
          <li class="secondary secondary-management last-item">
            <h2><a href="http://www.ubuntu.com/management/">Management</a></h2>
            <ul class="second-level-nav">
              <li class="first">
                <a href="http://www.ubuntu.com/management">Overview</a>
              </li>
              <li>
                <a href="http://www.ubuntu.com/management/landscape-features"
                  >Landscape features</a
                >
              </li>
              <li>
                <a
                  href="http://www.ubuntu.com/management/working-with-landscape"
                  >Working with Landscape</a
                >
              </li>
              <li>
                <a href="http://www.ubuntu.com/management/return-on-investment"
                  >Return on investment</a
                >
              </li>
              <li>
                <a href="http://www.ubuntu.com/management/compliance"
                  >Compliance</a
                >
              </li>
              <li>
                <a href="http://www.ubuntu.com/management/ubuntu-advantage"
                  >Ubuntu Advantage</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.footer-a -->
    <div class="footer-b inline-lists">
      <ul class="clearfix">
        <li>
          <h2><a href="http://www.ubuntu.com/download/">Download</a></h2>
          <ul class="second-level-nav">
            <li><a href="http://www.ubuntu.com/download">Overview</a></li>
            <li><a href="http://www.ubuntu.com/download/cloud">Cloud</a></li>
            <li><a href="http://www.ubuntu.com/download/server">Server</a></li>
            <li>
              <a href="http://www.ubuntu.com/download/desktop">Desktop</a>
            </li>
            <li>
              <a href="http://www.ubuntu.com/download/ubuntu-kylin"
                >Ubuntu Kylin</a
              >
            </li>
            <li>
              <a href="http://www.ubuntu.com/download/alternative-downloads"
                >Alternative downloads</a
              >
            </li>
          </ul>
        </li>
        <li>
          <h2><a href="http://www.ubuntu.com/support/">Support</a></h2>
          <ul class="second-level-nav">
            <li class="first">
              <a href="http://www.ubuntu.com/support">Overview</a>
            </li>
            <li><a href="http://www.ubuntu.com/usn/">Security notices</a></li>
          </ul>
        </li>
        <li>
          <h2><a href="http://www.ubuntu.com/about/">About</a></h2>
          <ul class="second-level-nav">
            <li>
              <a href="http://www.ubuntu.com/about/about-ubuntu"
                >About Ubuntu</a
              >
            </li>
            <li><a href="http://www.canonical.com/careers">Careers</a></li>
            <li>
              <a href="http://www.ubuntu.com/about/canonical-and-ubuntu"
                >Canonical and Ubuntu</a
              >
            </li>
            <li>
              <a accesskey="7" href="http://www.ubuntu.com/about/contact-us"
                >Contact us</a
              >
            </li>
            <li>
              <a accesskey="2" href="http://insights.ubuntu.com/feed/"
                >Canonical news feed</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div class="nav-global-footer clearfix"></div>
  <div class="legal">
    <p class="twelve-col">
      © {{ now("%Y")}} Canonical Ltd. Ubuntu and Canonical are registered
      trademarks of Canonical Ltd.
    </p>
    <ul class="inline-list clear">
      <li><a href="http://www.ubuntu.com/legal">Legal information</a></li>
      <li>
        <a href="https://bugs.launchpad.net/ubuntu-website-content/"
          >Report a bug on this site</a
        >
      </li>
    </ul>
    <span class="accessibility-aid"
      ><a href="#">Go to the top of the page</a></span
    >
  </div>
  <!-- /.legal -->
</footer>
