<!DOCTYPE html>

<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ versioned_static('css/styles.css') }}" />
    <title>{% block title %}{% endblock %} | Ubuntu</title>
    <link
      rel="shortcut icon"
      href="https://assets.ubuntu.com/v1/e5b92dd5-favicon.ico"
      type="image/x-icon"
    />
  </head>
  <body class="homepage homepage-livepatch">
    {% include "_header.html" %}
    <div id="main-content" class="inner-wrapper">
      {% block content %}{% endblock %}
    </div>
    {% include "_footer.html" %}
  </body>
</html>
