{% if pages|length > 1%}
You are viewing page
{% if pages[0] > 1 %}
<a href="?{{query_string}}&amp;page={{pages[0] - 1}}">
    ...
</a>
{% endif %}
{% for page_number in pages %}
{% if page_number == page %}
<span class="current"><strong>{{ page }}</strong></span>
{% else %}
<a href="?{{query_string}}&amp;page={{page_number}}">{{page_number}}</a>
{% endif %}
{% endfor %}
{% if pages[-1] < total_pages %}
<a href="?{{query_string}}&amp;page={{pages[-1] + 1}}">
    ...
</a>
{% endif %}
{% endif %}
