{% extends '_layout.html' %}

{% block title %}Ubuntu on {{ vendor }} {{ name }}{% endblock %}

{% block content %}
<nav role="navigation" class="nav-secondary clearfix">
  <ul class="breadcrumb">
    <li>
      <a href="/desktop">
        Ubuntu Desktop
      </a>
    </li>
    <li>&nbsp;›</li>

    <li>
      <a href="/desktop/models?category=Desktop">
        Search Results
      </a>
    </li>
    <li>&nbsp;›</li>

    <li class="third-level">Detail</li>
  </ul>
</nav>

<div class="row row-hero no-border">
  <div class="container-inner title">
    <h1>
      Ubuntu on {{ vendor }}<span class="grey"> {{ name }}</span>
    </h1>
  </div>

  <div class="three-col">
    <form id="sidebar-search" action="" method="get" class="body-search"></form>

    <div id="ubuntu-feedback">
      <h4>Feedback</h4>
      <p>
        If there is an issue with the information for this system, please
        <a target="_blank"
          href="https://answers.launchpad.net/ubuntu-certification/+addquestion?field.title=Feedback on the {{vendor}} {{ name }}">
          let us know
        </a>.
      </p>
    </div>
  </div>

  <div class="main">
    <div class="nine-col  last-col device">
      <div class="row row-hero" id="hardware-detail">
        <p class="large">
          The <strong>{{ vendor }} {{ name }}</strong> {{ form_factor.lower() }}
          with the components described below has been awarded the status of
          certified {% if has_enabled_releases %}pre-install {% endif %}for Ubuntu.
        </p>

        {% if has_enabled_releases %}
          <h3><strong>Please note that for pre-installed systems:</strong></h3>
          <ol>
            <li>
              The system is available in some regions with a special image of
              Ubuntu pre-installed by the manufacturer. It takes advantage of the
              hardware features for this system and may include additional
              software. You should check when buying the system whether this is an
              option.
            </li>
            <li>
              Standard images of Ubuntu may not work at all on the system or may
              not work well, though Canonical and computer manufacturers will try
              to certify the system with future standard releases of Ubuntu.
            </li>
          </ol>
        {% endif %}

        <div id="releases">
          {% for release in release_details.releases %}
            <div class="release box">
              <h3 class="enabled">
                {{ release.name }}
              </h3>

              {% if release.level == "Enabled" %}
                <p class="availability">Pre-installed by manufacturer</p>
              {% else %}
                <p class="availability">Available from ubuntu.com</p>
              {% endif %}

              {% if release.download_url %}
              <p><a href="{{ release.download_url }}" id="download-url" class="button--primary link-cta-ubuntu cta-large">Download</a></p>
              {% endif %}


              <h4 id="testing-details">Testing details</h4>
              <p>
                This system was tested with {{ release.version }}, running the
                {{ release.kernel }} kernel.
              </p>
              <p></p>
              <h4>Certification notes</h4>

              {% if release.notes %}
                <dl>
                  {% for note in release.notes %}
                    <dt>{{ note.title }}</dt>
                    <dd><p>{{ note.comment.replace('\r\n\r\n', '</p><p>') | safe }}</p></dd>
                  {% endfor %}
                </dl>
              {% else %}
                <p>There are no notes for this release.</p>
              {% endif %}

              {% if release.bios %}
                <dl id="bios-list">
                  <dt>BIOS</dt>
                  <dd>{{ release.bios }}</dd>
                </dl>
              {% endif %}
            </div>
          {% endfor %}
        </div>

        <h2>Hardware summary</h2>
        <p>This system was tested with these key components:</p>

        <table class="definitions">
          <tbody>
            {% for category, devices in release_details.components.items() %}
            <tr>
              <td class="title">{{ category }}</td>
              <td class="details">
                {% for device in devices %}
                <p>
                  {% if "/" not in device.identifier %}
                    {# / breaks the component URLs #}
                    {% if device.subsystem %}
                      <a href="/catalog/component/{{ device.subsystem }}/{{ device.identifier }}">{{ device.name }}</a>
                    {% else %}
                      <a href="/catalog/component/{{ device.identifier }}">{{ device.name }}</a>
                    {% endif %}
                  {% else %}
                    {{ device.name }}
                  {% endif %}
                  {% if device.bus in ["usb", "pci"] %}({{ device.identifier }}){% endif %}
                </p>
                {% endfor %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <h2>Hardware details</h2>

        <table class="definitions">
          <tbody>
            {% for category, devices in hardware_details.items() %}
            {% if category != "Other" %}
            <tr>
              <td class="title">
                {{ category }}
              </td>
              <td class="details">
                {% for device in devices %}
                <p>
                  {% if "/" not in device.identifier %}
                    {# / breaks the component URLs #}
                    {% if device.subsystem %}
                      <a href="/catalog/component/{{ device.subsystem }}/{{ device.identifier }}">{{ device.name }}</a>
                    {% else %}
                      <a href="/catalog/component/{{ device.identifier }}">{{ device.name }}</a>
                    {% endif %}
                  {% else %}
                    {{ device.name }}
                  {% endif %}
                  {% if device.bus in ["usb", "pci"] %}({{ device.identifier }}){% endif %}
                </p>

                {% endfor %}
              </td>
            </tr>
            {% endif %}
            {% endfor %}
            {% if "Other" in hardware_details and hardware_details["Other"] %}
            <tr>
              <td class="title">
                Other
              </td>
              <td class="details">
                {% for device in hardware_details["Other"] %}
                <p>
                  {% if "/" not in device.identifier %}
                    {# / breaks the component URLs #}
                    {% if device.subsystem %}
                      <a href="/catalog/component/{{ device.subsystem }}/{{ device.identifier }}">{{ device.name }}</a>
                    {% else %}
                      <a href="/catalog/component/{{ device.identifier }}">{{ device.name }}</a>
                    {% endif %}
                  {% else %}
                    {{ device.name }}
                  {% endif %}
                  {% if device.bus in ["usb", "pci"] %}({{ device.identifier }}){% endif %}
                </p>

                {% endfor %}
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>

    {% if components %}
      <div>
        <h2>Component Devices</h2>

        <table>
          <thead>
            <tr>
              <th>Vendor</th>
              <th>Model</th>
              <th>Make</th>
              <th>14.04 LTS</th>
              <th>Core 16</th>
              <th>16.04 LTS</th>
              <th>Core 18</th>
              <th>18.04 LTS</th>
              <th>comments</th>
            </tr>
          </thead>
          <tbody>
            {% for component in components %}
              <tr>
                <td>{{ component.vendor_name }}</td>
                <td><a href="/components/{{ component.id }}">{{ component.model }}</a></td>
                <td>{{ component.vendor_make }}</td>
                <td>{% if "14.04 LTS" in component.lts_certified_releases %}✔{% if component.lts_certified_releases["14.04 LTS"][0].third_party_driver %}<sup>(1)</sup>{% endif %}{% endif %}</td>
                <td>{% if "Core 16" in component.lts_certified_releases %}✔{% if component.lts_certified_releases["Core 16"][0].third_party_driver %}<sup>(1)</sup>{% endif %}{% endif %}</td>
                <td>{% if "16.04 LTS" in component.lts_certified_releases %}✔{% if component.lts_certified_releases["16.04 LTS"][0].third_party_driver %}<sup>(1)</sup>{% endif %}{% endif %}</td>
                <td>{% if "Core 18" in component.lts_certified_releases %}✔{% if component.lts_certified_releases["Core 18"][0].third_party_driver %}<sup>(1)</sup>{% endif %}{% endif %}</td>
                <td>{% if "18.04 LTS" in component.lts_certified_releases %}✔{% if component.lts_certified_releases["18.04 LTS"][0].third_party_driver %}<sup>(1)</sup>{% endif %}{% endif %}</td>
                <td>{{ component.note }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <ul style="list-style-type:none;">
          <li>✔ Supported</li>
          <li>X Unsupported</li>
          <li>? In progress</li>
          <li>(1) Third party driver may be required.</li>
        </ul>

        <a class="p-button--neutral" href="/components?query={{ canonical_id }}">View all component devices</a>
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}
