{% extends '_layout.html' %} {% block title%} Ubuntu Desktop certified hardware
{% endblock %} {% block content %}

{{ details }}

<nav role="navigation" class="nav-secondary clearfix">
  <ul class="breadcrumb">
    <li>
      <a href="/desktop/">
        Ubuntu Desktop
      </a>
    </li>
    <li>&nbsp;›</li>

    <li>
      <a
        href="https://certification.ubuntu.com/desktop/models/?category=Desktop&amp;category=Laptop&amp;vendors=Dell"
        >Search Results</a
      >
    </li>
    <li>&nbsp;›</li>

    <li class="third-level">Detail</li>
  </ul>
</nav>

<div class="row row-hero no-border">
  <div class="container-inner title">
    <h1>
      Ubuntu on {{ details.vendor
      }}<span class="grey"> {{ details.name }}</span>
    </h1>
  </div>

  <div class="three-col">
    <form id="sidebar-search" action="" method="get" class="body-search"></form>

    <div id="ubuntu-feedback">
      <h4>Feedback</h4>
      <p>
        If there is an issue with the information for this system, please
        <a
          target="_blank"
          href="https://answers.launchpad.net/ubuntu-certification/+addquestion?field.title=Feedback on the Dell ChengMing 3977 - phoenix KBL"
          >let us know</a
        >.
      </p>
    </div>
  </div>

  <div class="main">
    <div class="nine-col  last-col device">
      <div class="row row-hero" id="hardware-detail">
        <p class="large">
          The <strong>{{ details.vendor }} {{ details.name }}</strong> desktop
          with the components described below has been awarded the status of
          certified pre-install for Ubuntu.
        </p>

        <h3><strong>Please note that for pre-installed systems:</strong></h3>
        <ol>
          <li>
            The system is available in some regions with a special image of
            Ubuntu pre-installed by the manufacturer. It takes advantage of the
            hardware features for this system and may include additional
            software. You should check when buying the system whether this is an
            option.
          </li>
          <li>
            Standard images of Ubuntu may not work at all on the system or may
            not work well, though Canonical and computer manufacturers will try
            to certify the system with future standard releases of Ubuntu.
          </li>
        </ol>

        <div id="releases">
          <div class="release box">
            <h3 class="enabled">
              Ubuntu 16.04 LTS 64-bit
            </h3>

            <p class="availability">Pre-installed by manufacturer</p>

            <h4 id="testing-details">Testing details</h4>
            <p>
              This system was tested with 16.04 LTS, running the
              4.4.0-36-generic kernel.
            </p>
            <p></p>
            <h4>Certification notes</h4>

            <p>There are no notes for this release.</p>

            <dl id="bios-list">
              <dt>BIOS</dt>
              <dd>Dell: 0.5.3 (UEFI)</dd>
            </dl>
          </div>
        </div>

        <h2>Hardware summary</h2>
        <p>This system was tested with these key components:</p>

        <table class="definitions">
          <tbody>
            <tr>
              <td class="title">Processor</td>
              <td class="details">
                <p>
                  <a
                    href="/catalog/component/dmi/4103/dmi%3AIntel%28R%29Core%28TM%29i5-7500CPU%403.40GHz/"
                    >Intel Intel(R) Core(TM) i5-7500 CPU @ 3.40GHz
                  </a>
                </p>
              </td>
            </tr>

            <tr>
              <td class="title">Ethernet</td>
              <td class="details">
                <p>
                  <a href="/catalog/component/pci/10ec%3A8168/"
                    >Realtek Semiconductor Co., Ltd. RTL8111/8168/8411 PCI
                    Express Gigabit Ethernet Controller
                  </a>
                </p>
              </td>
            </tr>
          </tbody>
        </table>

        <h2>Hardware details</h2>

        <table class="definitions">
          <tbody>
            <tr>
              <td class="title">Audio</td>
              <td class="details">
                <p>
                  <a href="/catalog/component/pci/8086%3Aa170/"
                    >Intel Sunrise Point-H HD Audio
                  </a>
                </p>

                <p>
                  <a
                    href="/catalog/component/sound/4103/sound%3ASunrisePoint-HHDAudio/"
                    >Intel Sunrise Point-H HD Audio
                  </a>
                </p>
              </td>
            </tr>

            <tr>
              <td class="title">BIOS</td>
              <td class="details">
                <p>
                  <a href="/catalog/component/dmi/4755/dmi%3A0.5.3/"
                    >Dell 0.5.3
                  </a>
                </p>
              </td>
            </tr>

            <tr>
              <td class="title">Board</td>
              <td class="details">
                <p>
                  <a href="/catalog/component/dmi/4755/dmi%3AUnknown/"
                    >Dell Unknown
                  </a>
                </p>
              </td>
            </tr>

            <tr>
              <td class="title">Chassis</td>
              <td class="details">
                <p>
                  <a href="/catalog/component/dmi/4755/dmi%3ADesktop/"
                    >Dell Desktop
                  </a>
                </p>
              </td>
            </tr>

            <tr>
              <td class="title">Disk</td>
              <td class="details">
                <p>
                  <a
                    href="/catalog/component/scsi/4932/scsi%3AST500DM002-1SB10A/"
                    >Aquantia Corp. ST500DM002-1SB10A
                  </a>
                </p>
              </td>
            </tr>

            <tr>
              <td class="title">Efi</td>
              <td class="details">
                <p>
                  <a href="/catalog/component/dmi/86/dmi%3AEFIv2.40/"
                    >American Megatrends Inc. EFI v2.40
                  </a>
                </p>
              </td>
            </tr>

            <tr>
              <td class="title">Mouse</td>
              <td class="details">
                <p>
                  <a href="/catalog/component/usb/2024/046d%3Ac534/"
                    >Logitech, Inc. Unifying Receiver
                  </a>
                </p>
              </td>
            </tr>

            <tr>
              <td class="title">Network</td>
              <td class="details">
                <p>
                  <a href="/catalog/component/pci/10ec%3A8168/"
                    >Realtek Semiconductor Co., Ltd. RTL8111/8168/8411 PCI
                    Express Gigabit Ethernet Controller
                  </a>
                </p>
              </td>
            </tr>

            <tr>
              <td class="title">Processor</td>
              <td class="details">
                <p>
                  <a
                    href="/catalog/component/dmi/4103/dmi%3AIntel%28R%29Core%28TM%29i5-7500CPU%403.40GHz/"
                    >Intel Intel(R) Core(TM) i5-7500 CPU @ 3.40GHz
                  </a>
                </p>
              </td>
            </tr>

            <tr>
              <td class="title">System</td>
              <td class="details">
                <p>
                  <a href="/catalog/component/dmi/4755/dmi%3AChengMing3977/"
                    >Dell ChengMing 3977
                  </a>
                </p>
              </td>
            </tr>

            <tr>
              <td class="title">Usb</td>
              <td class="details">
                <p>
                  <a href="/catalog/component/pci/8086%3Aa12f/"
                    >Intel Sunrise Point-H USB 3.0 xHCI Controller
                  </a>
                </p>
              </td>
            </tr>

            <tr>
              <td class="title">Other</td>
              <td class="details">
                <p>
                  <a
                    href="/catalog/component/input/4932/input%3ADellWMIhotkeys/"
                    >Aquantia Corp. Dell WMI hotkeys
                  </a>
                </p>

                <p>
                  <a
                    href="/catalog/component/input/4932/input%3AHDAIntelPCHHDMI/DP%2Cpcm%3D3/"
                    >Aquantia Corp. HDA Intel PCH HDMI/DP,pcm=3
                  </a>
                </p>

                <p>
                  <a
                    href="/catalog/component/input/4932/input%3AHDAIntelPCHHDMI/DP%2Cpcm%3D7/"
                    >Aquantia Corp. HDA Intel PCH HDMI/DP,pcm=7
                  </a>
                </p>

                <p>
                  <a
                    href="/catalog/component/input/4932/input%3AHDAIntelPCHHDMI/DP%2Cpcm%3D8/"
                    >Aquantia Corp. HDA Intel PCH HDMI/DP,pcm=8
                  </a>
                </p>

                <p>
                  <a
                    href="/catalog/component/input/4932/input%3AHDAIntelPCHHeadphoneMic/"
                    >Aquantia Corp. HDA Intel PCH Headphone Mic
                  </a>
                </p>

                <p>
                  <a
                    href="/catalog/component/input/4932/input%3AHDAIntelPCHLineOut/"
                    >Aquantia Corp. HDA Intel PCH Line Out
                  </a>
                </p>

                <p>
                  <a href="/catalog/component/input/4932/input%3APowerButton/"
                    >Aquantia Corp. Power Button
                  </a>
                </p>

                <p>
                  <a href="/catalog/component/input/4932/input%3ASleepButton/"
                    >Aquantia Corp. Sleep Button
                  </a>
                </p>

                <p>
                  <a href="/catalog/component/input/4932/input%3AVideoBus/"
                    >Aquantia Corp. Video Bus
                  </a>
                </p>

                <p>
                  <a href="/catalog/component/pci/104c%3A8240/"
                    >Texas Instruments XIO2001 PCI Express-to-PCI Bridge
                  </a>
                </p>

                <p>
                  <a href="/catalog/component/pci/1fd4%3A1999/"
                    >SUNIX Co., Ltd. Multiport serial controller
                  </a>
                </p>

                <p>
                  <a href="/catalog/component/pci/8086%3A1901/"
                    >Intel Sky Lake PCIe Controller (x16)
                  </a>
                </p>

                <p>
                  <a href="/catalog/component/pci/8086%3Aa102/"
                    >Intel Sunrise Point-H SATA controller [AHCI mode]
                  </a>
                </p>

                <p>
                  <a href="/catalog/component/pci/8086%3Aa115/"
                    >Intel Sunrise Point-H PCI Express Root Port #6
                  </a>
                </p>

                <p>
                  <a href="/catalog/component/pci/8086%3Aa121/"
                    >Intel Sunrise Point-H PMC
                  </a>
                </p>

                <p>
                  <a href="/catalog/component/pci/8086%3Aa123/"
                    >Intel Sunrise Point-H SMBus
                  </a>
                </p>

                <p>
                  <a href="/catalog/component/pci/8086%3Aa131/"
                    >Intel Sunrise Point-H Thermal subsystem
                  </a>
                </p>

                <p>
                  <a href="/catalog/component/pci/8086%3Aa13a/"
                    >Intel Sunrise Point-H CSME HECI #1
                  </a>
                </p>

                <p>
                  <a href="/catalog/component/usb/4034/1d6b%3A0002/"
                    >Linux Foundation 2.0 root hub
                  </a>
                </p>

                <p>
                  <a href="/catalog/component/usb/4034/1d6b%3A0003/"
                    >Linux Foundation 3.0 root hub
                  </a>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div></div>
  </div>
</div>

{% endblock %}
