{% extends '_layout.html' %}

{% block title%}Ubuntu Server certified hardware{% endblock %}

{% block content %}
<div class="row row-hero no-border">
  <div class="container-inner title">
    <h1>Component Device Details</h1>
  </div>
  <div class="main">
    <div class="row">
      <table>
        <tbody>
          <tr>
            <th scope="row">Vendor</th>
            <td>{{ component.vendor_name }}</td>
          </tr>
          <tr>
            <th scope="row">Component model name</th>
            <td>{{ component.model }}</td>
          </tr>
          <tr>
            <th scope="row">Identifier</th>
            <td>{{ component.identifier }}</td>
          </tr>
          <tr>
            <th scope="row">Subsystem Identifier</th>
            <td>{{ component.subsystem_identifier}}</td>
          </tr>
          <tr>
            <th scope="row">Hardware Vendor Make</th>
            <td>{{ component.hardware_vendor_make }}</td>
          </tr>
          <tr>
            <th scope="row">Vendor Make</th>
            <td>{{ component.vendor_make }}</td>
          </tr>
          <tr>
            <th scope="row">Part Number</th>
            <td>{{ component.part_number }}</td>
          </tr>
          <tr>
            <th scope="row">Device Category</th>
            <td>{{ component.category }}</td>
          </tr>
          <tr>
            <th scope="row">Note</th>
            <td>{{ component.note }}</td>
          </tr>
        </tbody>
      </table>
      <div class="col-12 spacer">
        <h2>Component Release Statuses</h2>
        <table>
          <thead>
            <tr>
              <th>Status</th>
              <th>Certified Release</th>
              <th>Third Party Driver?</th>
            </tr>
          </thead>
          <tbody>
            {% for name, details in component.lts_certified_releases.items() %}
              <tr>
                <td>{{ details.0.status.title() }}</td>
                <td>{{ details.0.release }}</td>
                <td>{{ details.0.third_party_driver }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-12 spacer">
        <h2>Systems</h2>
        <table>
          <thead>
            <tr>
              <th>System</th>
            </tr>
          </thead>
          <tbody>
            {% for machine in machines %}
              <tr>
                <td>
                  <a href="/hardware/{{ machine.canonical_id }}/">{{ machine.canonical_id }}</a> {{ machine.make }} {{ machine.model }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}